<!DOCTYPE html>
<html>
    <head>
        <title>Bukit</title>
        <!-- Latest compiled and minified AngularJavaScript -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        
        <!-- Home JavaScript File -->
        <script type="text/javascript" src="home.js"></script>
        <!--Styling -->
        <link rel="stylesheet" href="home.css"/>
    </head>
    <body ng-app="homeApp">
        <navbar></navbar>
        <header class="container-fluid bg-info" ng-controller="homeHeaderCont">
        <div class="col-xs-6 ">   
        <h2 class="title">Bukit</h2>    
        </div>
<!--Sample bootstrap form-->
        <div class="col-xs-6 ">
            <br/>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" ng-model="username">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" ng-model="password">
          </div>
          <div class="checkbox">
            <!--<label>
              <input type="checkbox"> Remember me
            </label>-->
          </div>
            <button type="submit" class="btn btn-primary" ng-click="isValidLogin()">Login</button>
            <button type="submit" class="btn btn-info" ng-click="redirectToSignUp()">Sign up</button>
        </form>
        </div>
        </header>
        
        <header class="tabBar">
            <div class="container">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#Hot" data-toggle="tab">Hot</a></li>
                <li><a href="#Trending" data-toggle="tab">Trending</a></li>
                <li><a href="#About" data-toggle="tab">About</a></li>
                <li><a href="#Settings" data-toggle="tab" >Settings</a></li>
              </ul>
            </div>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="Hot">
                    <div ng-controller="hotCont">
                    <ul class="list-unstyled">
                        <li ng-repeat="bukit in bukitList">
                            <img src="{{bukit.profilePic}}" class="img-circle" alt="Responsive image"  width="100" height="100"><br/><p class="col-md-4">{{bukit.name}}</p><br/>
                            <img src="{{bukit.bukitPhoto}}" class="img-rounded" width="500" height="500">    
                            <br/>
                        </li>
                    </ul>
                    </div>
                  
                </div>
                <div class="tab-pane" id="Trending">
                  This will be the trending!? page?
                  
                </div>
                <div class="tab-pane" id="About">
                  This is will be the about!? page?
                  
                </div>
                <div class="tab-pane" id="Settings" >
                  This will be the settings page!?
                </div>
              </div>


            
        
        </header>
        
            
        
    <footer></footer>
    </body>

</html>